{% extends 'masterpage.html' %}
{% block content %}
<div id="app">
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" style="padding-left: 26px">
                <i class="fas fa-align-left"></i>
            </a>
            <a class="navbar-item">
                <h1 class="card-header-title">
                    [[ title ]]
                </h1>
            </a>
        </div>
    </nav>

    <div class="columns">
        <div class="column hero is-3 is-fullheight has-background-white-ter">
            <div class="main" style="padding-top: 30px; padding-left: 30px">
                <aside class="menu">
                    <p class="menu-label">Documents</p>
                    <ul class="menu-list">
                        {% for document in documents %}
                        <li class="list-item">
                            <a onclick="showClick({{ document.id }})">{{ document.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                </aside>
            </div>
        </div>

        <div class="column is-two-thirds">
            <section class="hero">
                <div class="hero-body">
                    <p class="title">
                        Search
                    </p>
                    <form @submit="submitRequest" method="post">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="Insert word" v-model="input">
                            </div>
                            <button class="control button is-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                    <br>
                        <article v-if="booleans.something_loaded" class="message">
                            <div class="message-header">
                                <p>[[ on_main_board_title ]]</p>
                            </div>
                            <div class="message-body">
                                [[ on_main_board_text ]]
                            </div>
                        </article>
                    <br>
                    <p class="content is-medium">[[ output ]]</p>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    Vue.component("main-board", {
        delimiters: ['[[', ']]'],
        props: ['title', 'text'],
        template: '<article class="message">' +
            '<div class="message-header">' +
            '<p>[[ title ]]</p>' +
            '</div>' +
            '<div class="message-body">' +
            '[[ text ]]' +
            '</div>' +
            '</article>'
    })

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            title: 'Gensim Trainer',
            input: '',
            output: '',
            selected_document: 0,
            on_main_board_title: "",
            on_main_board_text: "",
            booleans: {
                something_loaded: false
            }
        },
        methods: {
            submitRequest(e) {
                e.preventDefault();
                let vue_obj = this;
                axios.post("{% url 'trainer:similarities' input="1" %}"
                    .replace("1", vue_obj.input))
            .then(response =>{
                    vue_obj.output = response.data
                })
                    .catch(error =>{
                        vue_obj.output = 'Some error occurred\n'+error;
                    })
            },
            loadDocument(e) {
                //e.preventDefault();
                let vue_obj = this;
                axios.post("{% url 'trainer:similarities' input="1" %}".
                replace("1", vue_obj.selected_document))
            .then(response =>{
                    vue_obj.booleans.something_loaded = true;
                    //vue_obj.output = 'Data received';
                    vue_obj.on_main_board_title = response.data['title'];
                    vue_obj.on_main_board_text = response.data['text'];

                    // Costruire documento caricato con tags Bulma
                })
                    .catch(response =>{

                    })
            }
        },
        watch: {
            selected_document: function () {
                this.loadDocument()
            }
        }
    })


    showClick = (document_id) => {
        app.selected_document = document_id
    }
</script>
{% endblock %}